#body-wave-closure-pic,
#body-wave-closure-info {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
  // border: 2px black solid;
}

#body-wave-closure-pic {
  float: left;
}

.closure-frontal-collection {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#kc-collection-pic1 {
  margin-bottom: 35%;
}

#sc-collection-pic1 {
  margin-bottom: 22%;
}

select, .label {
  margin: 0;
  padding: 0;
}

button {
  margin: 5%;
}