#body-wave-closure-pic,
#body-wave-closure-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}
#body-wave-closure-pic {
  float: left;
}

#kc-collection-pic1 {
  margin-bottom: 35%;
}

#sc-collection-pic1 {
  margin-bottom: 22%;
}