#body-wave-closure-pic,
#body-wave-closure-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}
#body-wave-closure-pic {
  float: left;
}

#kc-collection-pic1 {
  margin-bottom: 35%;
}

#sc-collection-pic1 {
  margin-bottom: 22%;
}

@media screen and (max-device-width: 480px){
  h1 {
    font-size: 22px;
  }

  #body-wave-closure-pic,
  #body-wave-closure-info{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #kc-collection-pic1 {
    margin-bottom: 0%;
  }

  #sc-collection-pic1 {
    margin-bottom: 0;
  }

}