#landing-brazilian,
#landing-closure,
#landing-bundles{
  display: inline-block;
  width: 32%;
  padding: 0;
}
.landing-content {
  padding-top: 10%;
}
#bundle-pic {
 padding-bottom: 6%;
 padding-left: 7%;
}

#closure-pic {
  padding-bottom: 4%;
}

h2 {
  text-align: center;
}