#straight-frontal-pic,
#straight-frontal-info {
  display: inline-block;
  position: relative;
  width: 35%;
  margin-left: 9%;
}

#bw-collection-pic4 {
  margin-bottom: 30%;
}

#kc-collection-pic4{
  margin-bottom: 30%;
}

#sc-collection-pic4 {
  margin-bottom: 15%;
}