#straight-frontal-pic,
#straight-frontal-info {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
}

#bw-collection-pic4 {
  margin-bottom: 30%; 
}

#kc-collection-pic4{
  margin-bottom: 30%;
}

#sc-collection-pic4 {
  margin-bottom: 15%;
}