#search-bar {
  margin-left: 7%;
  width: 20%;
  height: 1.4pc;
}
#cart-icon {
  width: 3%;
}
#cart-icon, label {
  float: right;
}
label {
  margin-right:7%; 
  margin-left: 1%;
  font-size: x-large; 
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12%; 
  width: 20%;
}
#nav {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 24px;
}

#nav a :hover, :link, :visited {
    text-decoration-line: none;
    color: goldenrod;
    display:inline;
    padding-right: 5%;
    padding-left: 5%; 
}
