#straight-closure-pic,
#straight-closure-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}

#straight-closure-pic {
  float: left;
}

#bw-collection-pic3 {
  margin-bottom: 40%;
}

#kf-collection-pic3{
  margin-bottom: 12%;
}

#kc-collection-pic3{
  margin-bottom: 40%;
}

