#straight-closure-pic,
#straight-closure-info {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
  // border: 2px black solid;
}

#straight-closure-pic {
  float: left;
}