#straight-closure-pic,
#straight-closure-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}

#straight-closure-pic {
  float: left;
}

#bw-collection-pic3 {
  margin-bottom: 40%;
}

#kf-collection-pic3{
  margin-bottom: 12%;
}

#kc-collection-pic3{
  margin-bottom: 40%;
}

@media screen and (max-device-width: 480px){
  #straight-closure-pic,
  #straight-closure-info {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #bw-collection-pic3 {
    margin-bottom: 0%;
  }

  #kf-collection-pic3{
    margin-bottom: 0%;
  }

  #kc-collection-pic3{
    margin-bottom: 0%;
  }
}