.box {
  display: inline-block;
  width: 18%;
  margin: 2px;
  text-align: center;
}
.box2 {
  padding-left: 1%;
}

#straight-closure {
  padding-bottom: 22%;
}

#bodywave-closure {
  padding-bottom: 33%;
}

#kinky-closure {
  padding-bottom: 35%;
}

#kinky-frontal {
  padding-bottom: 5%; 
}