.box {
  display: inline-block;
  width: 30%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.box2 {
  padding-left: 1%;
}

#straight-closure {
  padding-bottom: 22%;
}

#bodywave-closure {
  padding-bottom: 33%;
}

#kinky-closure {
  padding-bottom: 35%;
}

#kinky-frontal {
  padding-bottom: 5%;
}
.closure-frontal-collection {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
  text-align: center;
}