#col1-straight,
#col2-straight {
  display: inline-block;
  position: relative;
  width: 49.5%;
  height: 825px;
  margin: 0;
  padding: 0;
}

#col1-straight {
  float: left;
}

#col-straight {
  float: right;
}

.brazilian-collection {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}