#body-wave,
#straight,
#kinky-curl {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#body-wave {
  padding-top: 2%;
}

#kinky-img {
  padding-bottom: 15%;
}
.brazilian-collection {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 0;
  text-align: center;
}

.brazilian-collection-pic {
  padding-left: 5%;
  padding-top: 30%;
}

.header-links :link {
  padding: 0;
  color: black;
}


@media screen and (max-device-width: 480px) {
  #body-wave,
  #straight,
  #kinky-curl {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .brazilian-header {
    padding: 0;
    margin: 0;
  }
  #kinky-img {
    padding-bottom: 0%;
  }

  .brazilian-collection {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .brazilian-collection-pic {
    padding-left: 0%
  }

}