#body-wave,
#straight,
#kinky-curl {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#kinky-img {
  padding-bottom: 15%;
}
.brazilian-collection {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 0;
  text-align: center;
}

.brazilian-collection-pic {
  padding-left: 5%
}