#col1-kc,
#col2-kc {
  display: inline-block;
  position: relative;
  width: 48%;
  margin: 2px;
  padding: 0;
  height: auto;
}
#col1-kc {
  float: left;
}
.content {
  width: 45.5%;
  float: right;
  margin-right:4%;
  display: block;
}

@media screen and (max-device-width: 480px){
  #col1-kc,
  #col2-kc {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .content {
    width: 100%;
     display: block;
  }

}