#col1-kc,
#col2-kc {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
  height: 825px;
  // border: 2px black solid;
}

#col1-kc {
  float: left;
}

.brazilian-collection {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}