#kinky-curl-frontal-pic,
#kinky-curl-frontal-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}

#kinky-curl-frontal-pic {
  float: left;
}

#bw-collection-pic5 {
  margin-bottom: 37%;
}

#kc-collection-pic5{
  margin-bottom: 40%;
}

#sc-collection-pic5{
  margin-bottom: 20%;
}