#kinky-curl-frontal-pic,
#kinky-curl-frontal-info {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
  // border: 2px black solid;
}

#kinky-curl-frontal-pic {
  float: left;
}

#bw-collection-pic5 {
  margin-bottom: 37%;
}

#kc-collection-pic5{
  margin-bottom: 40%;
}

#sc-collection-pic5{
  margin-bottom: 20%;
}