#kinky-curl-frontal-pic,
#kinky-curl-frontal-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}

#kinky-curl-frontal-pic {
  float: left;
  height: 400px;
}

#bw-collection-pic5 {
  margin-bottom: 37%;
}

#kc-collection-pic5{
  margin-bottom: 40%;
}

#sc-collection-pic5{
  margin-bottom: 20%;
}


@media screen and (max-device-width: 480px){
  #kinky-curl-frontal-info,
  #kinky-curl-frontal-pic {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;;
  }

  #bw-collection-pic5 {
    margin-bottom: 0%;
  }

  #kc-collection-pic5{
    margin-bottom: 0%;
  }

  #sc-collection-pic5{
    margin-bottom: 0%;
  }
}