#kinky-curl-closure-pic,
#kinky-curl-closure-info {
  display: inline-block;
  position: relative;
  width: 36%;
  margin-left: 7%;
  padding: 0;
}

#kinky-curl-closure-pic {
  float: left;
}

#bw-collection-pic2 {
  margin-bottom: 40%;
}

#kc-collection-pic2{
  margin-bottom: 10%;
}

#sc-collection-pic2{
  margin-bottom: 21%;
}

#share-links-kc {
  padding-top: 20%;
}

@media screen and (max-device-width: 480px){
  #kinky-curl-closure-pic{
    margin: 0;
    width: 50%
  }

  #bw-collection-pic2 {
    margin-bottom: 0%;
  }

  #kc-collection-pic2{
    margin-bottom: 0%;
  }

  #sc-collection-pic2{
    margin-bottom: 0%;
  }
}