#kinky-curl-closure-pic,
#kinky-curl-closure-info {
  display: inline-block;
  position: relative;
  width: 45%;
  margin: 2px;
  padding: 0;
  // border: 2px black solid;
}

#kinky-curl-closure-pic {
  float: left;
}

#bw-collection-pic2 {
  margin-bottom: 40%;
}

#kc-collection-pic2{
  margin-bottom: 10%;
}

#sc-collection-pic2{
  margin-bottom: 21%;
}