#footer1,
#footer2 {
  display: inline-block;
  position: relative;
  width: 49.5%;
  margin: 0;
  padding: 0;
}
.copyright {
  margin-top: 4%;
  text-align: center;
  font-size: 12px;
}

#footer2 {
  text-align: right;
}
#contact-info {
  width: 53%;
  text-align: right;
  margin: 0;
  margin-right: 0;
  padding-left: 50%;
}