#footer1,
#footer2 {
  display: inline-block;
  position: relative;
  width: 49.5%;
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 4%;
  text-align: center;
  font-size: 12px;
}

#footer2 {
  text-align: right;
}

#contact-info {
  text-align: right;
  margin: 0;
  margin-right: 0;
}

#footer1 > a {
  margin: 0;
  padding: 1.5%;
}

@media screen and (max-device-width: 480px) {
  #footer1, #footer2{
    font-size: 10.5px;
  }
  #footer1 > a {
    display: inline-block;
  }
  .copyright {
    font-size: 8px;
  }
}