#col1-bw,
#col2-bw {
  display: inline-block;
  position: relative;
  width: 49.5%;
  height: 825px;
  margin: 0;
  padding: 0;
}

#col1-bw {
  float: left;
}
#col2-bw {
  float: right;
}

// #brazilian-collection-pic1 {
//   padding-left: 10%;
// }

.brazilian-collection {
  display: inline-block;
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
}