@media screen and (min-device-width: 900px){
  h1 > a {
    padding: 0;
    margin: 0;
  }
  #col1-bw,
  #col2-bw {
    display: inline-block;
    position: relative;
    width: 49.5%;
    margin: 2px;
    padding: 0;
  }

  #col1-bw {
    float: left;
  }

  .content {
    width: 45.5%;
    float: right;
    margin-right:4%;
    display: block;
  }

  #bw-share > :link {
      padding: 0;
      margin: 3px;
  }
}
@media screen and (max-device-width: 480px){
  #col1-bw,
  #col2-bw {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .share-facebook,
  .share-twitter,
  .share-pinterest,
  .share-fancy,
  .share-google {
    display: inline-block;
    margin: 0;
    padding: 2px;
  }
  .content {
    width: 100%;
    display: block;
  }
}