.cart-header {
  display: inline-block;
  // border: 2px green solid;
}

#cart-header {
  margin: 0%;
  padding: 0%;
  width: 100%;
}
#cart-col-1{
  width: 30%;
}

#cart-col-2,
#cart-col-3,
#cart-col-4 {
  width: 20%;
}

#cart-col-5 {
  float: right;
  left: 20%;
}

ul, li  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#item-quantity,
#item-total {
  text-align: center;
}