#four-bundle-main {
  margin-left: 13%;
}

#col1,
#col2 {
  position: relative;
  width: 49%;
  margin: 0;
  padding: 0;
}

#col1 {
  float: left;
}
#col2 {
  float: right;
}

.four-bundle-button{
  margin: 0;
}