#col1-bundle, #col2-bundle {
  display: inline;
  margin: 0;
  padding: 10px;
}

#col1-bundle {
  float: left;
  width: 49%;
}
.four-bundle-button{
  margin: 0;
}

// #bundle-share {
//   padding-top: 17%;
// }

#bundle-share > :link {
  padding: 0;
  margin: 3px;
}

@media screen and (max-device-width: 480px) {
  #col1-bundle, #col2-bundle {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
  }
  .share-header {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0
  }
}