#four-bundle-main {
  margin-left: 13%;
}

.four-bundle-button{
  margin: 0;
}

@media screen and (max-device-width: 480px) {
  #col1-bundle, #col2-bundle {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
  }
  .share-header {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0
  }
}